@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101211;
  color: #eceeed;
}

#root {
  height: 100vh;
  display: grid;
  place-content: center;
  align-content: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}

.cstm-container {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

aside.emoji-picker-react {
  box-shadow: 0 0 0 0 !important;
  background-color: #272a29 !important;
  border: 1px solid #444947 !important;
}

.emoji-picker-react .emoji-group:before {
  background-color: transparent !important;
  color: #eceeed;
}

.emoji-picker-react input.emoji-search {
  background-color: transparent !important;
  border: 1px solid #444947 !important;
  color: #eceeed !important;
  margin-top: 1rem;
}

.emoji-picker-react div.skin-tones-list {
  top: 33px !important;
}
