@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101211;
  color: #eceeed;
}

#root {
  height: 100vh;
  display: grid;
  place-content: center;
  align-content: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}

.cstm-container {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
